.dropbtn {
  color: rgb(255, 255, 255);
  font-size: 17px;
  border: none;
  cursor: pointer;
  background: none;
  padding: 0px 30px;
}
.dropbtn:hover{
  color:#E8D01B;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #0c010152;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: rgb(255, 255, 255);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: center;
}

.dropdown-content a:hover {background-color: #e8d01bc9}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover  {
  /* background-color: black; */
 color: white;
}
@media screen and (max-width:750px) {
  .dropdown-content{
    background-color: #0c0101;

  }
}